<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROBERT DOJO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Welcome to the Dojo!</h1>

    <h2>Connected Players</h2>
    <ul id="players-list">
        <!-- Connected players will be dynamically added here -->
    </ul>

    <h2>Server Logs</h2>
    <pre id="logs-container">
        <!-- Logs will be dynamically added here -->
    </pre>

    <h2>Server IP</h2>
    <div id="server-ip-container">
        <input type="text" value="{{ server_ip }}:5001" readonly id="server-ip">
        <button onclick="copyToClipboard()">Copy IP</button>
    </div>
    <button onclick="generateQRCode()">Generate Aruco QR-Codes</button>

    <!-- Modal for displaying QR code -->
    <div id="qr-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h3>QR Codes</h3>
            <img id="qr-modal-img" src="" alt="QR Code" />
            <div id="qr-code-container">
                <button onclick="printQRCode()">Print QR Code</button>
                <button onclick="copyQRCode()">Copy QR Code</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='qrcode.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
